$primary-color: #FFBED7;
$strong-color: #C87092;

$button-bg-color : #FFB5C9;
$submit-border: 0.306244px solid #49494949;

$strong-text-color: #494949;
$placeholder-text-color: #BEBBBB;

$bee-bg-tag-color: #D7D6D6;

$modal-text-color: #999999;

$error-color: #C14E4E;
