@import "./variables";

//
html,
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    width: 80%;
    margin: auto;
}

footer {
    position: relative;
    bottom: 0;
}

.caret {
    display: none !important;
}

form {

    small {
        color: $error-color;
    }

    .input-field {
        label {
            color: $strong-text-color;
            transition: .5s;
        }
    }

    textarea,
    input[type="text"]:not(.browser-default) {
        border: $submit-border !important;
        padding-left: .5rem;
        box-sizing: border-box;

        &:focus {
            box-shadow: 0 1px 0 0 $strong-color !important;
        }

        &:focus+label {
            color: $strong-color !important;
        }

        &::placeholder {
            color: $placeholder-text-color !important;
        }
    }

    input[type="text"].error:not(.browser-default),
    textarea.error {
        border: 1px solid $error-color !important;
    }

    textarea {
        resize: none;
        padding-top: .5rem;
    }

    .months {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;

        .month label {
            display: block;
            font-family: Roboto;
            font-weight: bold;
            line-height: 10px;
            letter-spacing: 0.03em;
            color: #494949;
            padding: 1rem .5rem;
            background: #FFFFFF;
            border: 0.537062px solid #D7D6D6;
            box-sizing: border-box;
            box-shadow: 0px 2.14825px 2.14825px rgba(0, 0, 0, 0.25);
            text-align: center;
            transition: .5s;

            &:hover {
                cursor: pointer;
            }
        }

        .month input:checked+label {
            background-color: #FFBED7;
        }

    }
}

.button {
    background-color: $button-bg-color;
    color: white;
    box-shadow: 0px 1.54667px 1.54667px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: .5s;

    &:hover {
        box-shadow: 0px 1.54667px 1.54667px rgba(0, 0, 0, 0.5);
    }

    &:focus {
        background-color: $button-bg-color;
    }
}

.cancel_button {
    color: $strong-color;
    border: 0.471658px solid $strong-color;
    box-shadow: 0px 1.88663px 1.88663px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .5s;
    font-weight: bold;

    &:hover {
        box-shadow: 0px 1.88663px 1.88663px rgba(0, 0, 0, 0.5);
    }

    &:focus {
        background-color: $button-bg-color;
    }
}


/* === VIEWS === */
@import "./views/flower_register";

/* === HEADERS === */
@import "./headers/register_header";

/* === FOOTERS === */
@import "./footers/register_footer";
