html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 80%;
  margin: auto;
}

footer {
  position: relative;
  bottom: 0;
}

.caret {
  display: none !important;
}

form small {
  color: #C14E4E;
}

form .input-field label {
  color: #494949;
  transition: 0.5s;
}

form textarea,
form input[type=text]:not(.browser-default) {
  border: 0.306244px solid #49494949 !important;
  padding-left: 0.5rem;
  box-sizing: border-box;
}

form textarea:focus,
form input[type=text]:not(.browser-default):focus {
  box-shadow: 0 1px 0 0 #C87092 !important;
}

form textarea:focus + label,
form input[type=text]:not(.browser-default):focus + label {
  color: #C87092 !important;
}

form textarea::-webkit-input-placeholder, form input[type=text]:not(.browser-default)::-webkit-input-placeholder {
  color: #BEBBBB !important;
}

form textarea::-moz-placeholder, form input[type=text]:not(.browser-default)::-moz-placeholder {
  color: #BEBBBB !important;
}

form textarea:-ms-input-placeholder, form input[type=text]:not(.browser-default):-ms-input-placeholder {
  color: #BEBBBB !important;
}

form textarea::-ms-input-placeholder, form input[type=text]:not(.browser-default)::-ms-input-placeholder {
  color: #BEBBBB !important;
}

form textarea::placeholder,
form input[type=text]:not(.browser-default)::placeholder {
  color: #BEBBBB !important;
}

form input[type=text].error:not(.browser-default),
form textarea.error {
  border: 1px solid #C14E4E !important;
}

form textarea {
  resize: none;
  padding-top: 0.5rem;
}

form .months {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

form .months .month label {
  display: block;
  font-family: Roboto;
  font-weight: bold;
  line-height: 10px;
  letter-spacing: 0.03em;
  color: #494949;
  padding: 1rem 0.5rem;
  background: #FFFFFF;
  border: 0.537062px solid #D7D6D6;
  box-sizing: border-box;
  box-shadow: 0px 2.14825px 2.14825px rgba(0, 0, 0, 0.25);
  text-align: center;
  transition: 0.5s;
}

form .months .month label:hover {
  cursor: pointer;
}

form .months .month input:checked + label {
  background-color: #FFBED7;
}

form .action_buttons {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-top: 3rem;
}

form .action_buttons a {
  display: block;
  text-align: center;
}

form .action_buttons button,
form .action_buttons a {
  flex-grow: 2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

form .action_buttons button[type=submit] {
  margin-left: 0.5rem;
}

.button {
  background-color: #FFB5C9;
  color: white;
  box-shadow: 0px 1.54667px 1.54667px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  box-shadow: 0px 1.54667px 1.54667px rgba(0, 0, 0, 0.5);
}

.button:focus {
  background-color: #FFB5C9;
}

.cancel_button {
  color: #C87092;
  border: 0.471658px solid #C87092;
  box-shadow: 0px 1.88663px 1.88663px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.cancel_button:hover {
  box-shadow: 0px 1.88663px 1.88663px rgba(0, 0, 0, 0.5);
}

.cancel_button:focus {
  background-color: #FFB5C9;
}

/* === VIEWS === */

header {
  width: 100vw;
  height: 20vh;
}

header h1 {
  margin: 0;
  text-align: center;
}

main.register_flower_container .bees {
  display: flex;
  justify-content: space-between;
}

main.register_flower_container .bees #bees {
  border: 0.306244px solid #49494949;
  min-height: 40px;
  padding: 0.5rem;
  width: 85%;
}

main.register_flower_container .bees #bees p {
  margin: 0;
  padding: 0.1rem 0.5rem;
  border-radius: 4.63178px;
  display: inline-block;
  background-color: #D7D6D6;
  margin-right: 0.5rem;
}

main.register_flower_container .input_container {
  display: flex;
  justify-content: space-between;
}

main.register_flower_container .input_container_text_fields {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

main.register_flower_container .input_container_upload_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-left: 0.5rem;
}

main.register_flower_container .input_container_upload_field label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C87092;
  text-align: center;
  cursor: pointer;
}

main.register_flower_container .input_container_upload_field .file_upload {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #FFBED7;
  position: relative;
}

main.register_flower_container .input_container_upload_field .file_upload span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
}

main.register_flower_container .input_container_upload_field input[type=file] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.main_home_container {
  padding-bottom: 2rem;
}

.main_home_container .bees {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.main_home_container .bees #bees {
  border: 0.306244px solid #49494949;
  min-height: 40px;
  padding: 0.5rem;
  width: 100%;
}

.main_home_container .bees #bees p {
  margin: 0;
  padding: 0.1rem 0.5rem;
  border-radius: 4.63178px;
  display: inline-block;
  background-color: #D7D6D6;
  margin-right: 0.5rem;
}

.main_home_container .bees span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  z-index: -1;
}

.main_home_container .flowers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  gap: 10px 2%;
}

.main_home_container .flowers .flower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.main_home_container .flowers .flower_image {
  border-radius: 50%;
  width: 60.66px;
  height: 60.14px;
  overflow: hidden;
  position: relative;
}

.main_home_container .flowers .flower_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: initial;
  width: 150%;
}

footer.home_footer_container {
  padding-bottom: 2rem;
}

footer.register_bee_footer_container {
  position: absolute;
}

/* === HEADERS === */

.register_header_container {
  position: relative;
}

.register_header_container img {
  position: absolute;
  top: -260px;
  left: -30px;
  height: 349.5px;
  transform: matrix(-0.96, 0.28, 0.28, 0.96, 0, 0);
  z-index: -1;
  max-width: initial;
}

.register_header_container h1 {
  margin-top: 3rem;
  color: white;
  font-size: 29.286px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 0.03em;
}

.main_header_container {
  height: initial;
  padding: 1rem 2rem;
}

.main_header_container .menu {
  display: flex;
  justify-content: flex-end;
}

.main_header_container .menu .mobile_menu {
  color: #C87092;
  cursor: pointer;
  font-weight: bold;
}

.main_header_container .menu .mobile_menu ul li a {
  color: #C87092;
}

.main_header_container h1 {
  color: #C87092;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
}

/* === FOOTERS === */

.register_footer_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.register_footer_container img {
  width: 30%;
}

/* === COMPONENTS === */

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_container .pagination .page,
.pagination_container .next,
.pagination_container .prev {
  background-color: #FFFDFD;
  width: 21.96px;
  height: 21.96px;
  text-align: center;
  box-shadow: 0px 2.1959px 2.1959px rgba(0, 0, 0, 0.25);
  margin-left: 1rem;
  transition: 0.5s;
  cursor: pointer;
}

.pagination_container .pagination .page:hover,
.pagination_container .next:hover,
.pagination_container .prev:hover {
  box-shadow: 0px 2.1959px 2.1959px rgba(0, 0, 0, 0.5);
}

.pagination_container .pagination {
  display: contents;
}

.pagination_container .pagination .current {
  background-color: #FFBED7;
}

