.register_header_container {
    position: relative;

    img {
        position: absolute;
        top: -260px;
        left: -30px;
        height: 349.5px;
        transform: matrix(-0.96, 0.28, 0.28, 0.96, 0, 0);
        z-index: -1;
        max-width: initial;
    }

    h1 {
        margin-top: 3rem;
        color: white;
        font-size: 29.286px;
        font-weight: bold;
        line-height: 38px;
        letter-spacing: 0.03em;
    }
}

@media only screen and (min-width: 1366px) {
    .register_header_container {
        img {
            position: absolute;
            top: -38rem;
            left: 57%;
            transform: translateX(-50%) rotate(-15.98deg);
            z-index: -1;
            max-width: initial;
            width: 100%;
            height: initial;
        }

        h1 {
            font-size: 3rem;
        }
    }
}
