.register_footer_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    img {
        width: 30%;
    }
}

@media only screen and (min-width: 1366px) {
    .register_footer_container {
        img {
            width: 15%;
        }
    }

}
