.main_home_container {
    padding-bottom: 2rem;

    .bees {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        position: relative;

        #bees {
            border: $submit-border;
            min-height: 40px;
            padding: .5rem;
            width: 100%;

            p {
                margin: 0;
                padding: .1rem .5rem;
                border-radius: 4.63178px;
                display: inline-block;
                background-color: #D7D6D6;
                margin-right: .5rem;
            }
        }

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2%;
            z-index: -1;
        }
    }

    .flowers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 2rem;

        gap: 10px 2%;

        .flower {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-self: center;
            align-self: center;

            &_image {
                border-radius: 50%;
                width: 60.66px;
                height: 60.14px;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: initial;
                    width: 150%;
                }
            }
        }
    }
}

footer.home_footer_container {
    padding-bottom: 2rem;
}
